<!DOCTYPE html>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br />
        <h1 class="center strong yellow-text text-lighten-4 hide-on-med-and-down">Join the Quest for The Master Key</h1><br>
        <h3 class="center strong yellow-text text-lighten-4 hide-on-large-only">Join the Quest for The Master Key</h3><br>
        <div class="row center hide-on-med-and-down">

           <h5 class="col s12 white-text text-darken-4 ">Destroy doubt and indecisiveness.</h5><h5 class="col s12 white-text text-darken-4 "><span class="red-text text-darken-2">Unlock</span> your unique drive and motivation through <span class="red-text">story and play.</span></h5><h5 class="col s12 white-text text-darken-4 "> Start living your dream.</h5>

          <h5 class="col s12 white-text text-darken-4">Space is limited. Begins June 9</h5>
        </div>
        <div class="row center">
          <a href="<%= myth_path(@conn, :sale)%>" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Join Now</a>
        </div>
      </div>
    </div>
    <div class="parallax"><img  class="responsive-img" src="images/journey.jpg" alt="Warm Background"></div>
  </div>

  <div class="row center hide-on-large-only">

     <h5>Destroy your doubt and indecisiveness.</h5><h5 class="col s12 ">Unlock your unique drive and motivation.</h5><h5> Start living your dream.</h5>

    <h5 class="col s12 ">Space is limited. Begins June 9</h5>
  </div>

  <div class="container">
    <div class="section">
      <div class="row center">
        <h3>What could you accomplish in 21 days?</h3>
      </div>
      <div class="row center">
        <img class="responsive-img" src="images/herojourney.png">
      </div>
      <div class="row center">
          <h4 class="col s12 black-text text-darken-4"> <span class="red-text text-darken-4" style="font-size:1.1em">Quest for the Master Key</span></h4>
          <h4 class="col s12 black-text text-darken-4"><span class="blue-text text-darken-4" style="font-size:1.1em">21 Day Goal Accelerator Program for Men<span> </h4>
          <h5 class="col s12 black-text text-darken-4">Use Joseph Campbell's <span class="red-text text-darken-4"  style="font-size:1.1em">Hero's Journey</span> to speak to your Inner King</h5>
          <h5 class="col s12 black-text text-darken-4">Find your personal <span class="red-text text-darken-4"  style="font-size:1.1em">Master Key</span> - the combination of beliefs, mindsets, behaviors, weapons and environments that unlock your full potential in any situation</h5>
      </div>
      <div class="row center">
        <hr>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h4 class="center brown-text" style="font-weight:bold">Do You Have a Clear Vision?</h4>
            <p class="center" style="font-size:1.2em;font-weight:bold">Getting clear on what you want is the first step to having it. Your quest begins with the <span class="red-text text-darken-4">Call to Adventure</span> - a 1 on 1 coaching call where you get crystal clear on an ambitious, specific goal or outcome for this 21 Day Quest.  Join the weekly group calls to be inspired by the visions and stories of the other adventurers joining you on this journey.</p>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">sentiment_dissatisfied</i></h2>
            <h4 class="center brown-text" style="font-weight:bold">Then What's Stopping You?</h4>

            <p class="light center" style="font-size:1.2em;font-weight:bold">You know what you want, ask yourself "Why don't I have it already?".  It's time to name your <span class="red-text text-darken-4">Personal Demons</span>.  We help you notice the limiting behavior and thought patterns that keep you stuck. By naming these as demons, you gain power over them.  We arm and equip you to fight your demons with step-by-step mindset guides, group coaching support and more. </p>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col s12 m12">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">whatshot</i></h2>
            <h4 class="center brown-text" style="font-weight:bold">Grit and Loving Challenge.</h4>

            <p class="light center" style="font-size:1.2em;font-weight:bold">Once you know what you want and you know the demons blocking you it is time to be <span class="red-text text-darken-4">armed and equipped</span> to battle them. Your mentor will challenge you in a way that stirs your deepest power.  No shaming, no fake enthusiasm.  This is pure loving honesty.  It's time to learn the location of your <span class="red-text text-darken-4">Personal Master Key</span>.  These are your deep internal virtues, skills and powers that will guide you to victory.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--  PARALLAX 2 ********************************************* -->
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="center strong white-text text-darken-4 hide-on-med-and-down">Your Journey Begins Here</h1><br>
          <h3 class="center strong white-text text-darken-4 hide-on-large-only">Your Journey Begins Here</h3><br>
        </div>
      </div>
    </div>
    <div class="parallax"><img  class="responsive-img"  src="images/labyrinth.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="row">
    <div class="col l2 center"></div>
    <div class="col s12 m12 l8  center">

      <div class="card-panel" style="font-size:2em">
        <div class="card-panel teal" style="font-size:2em">
          <h3 class="white-text">Quest for the Master Key</h3>
        </div>
          <img  src="<%= static_path(@conn, "/images/masterkey3.jpg") %>">
          <div>You will have <span class="red-text text-darken-4">21 days</span> to complete your quest and find your personal master key.</div>
          <br />
          <a href="<%= myth_path(@conn, :sale)%>" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Join Now</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col l2 center"></div>
        <div class="col s12 m12 l8 center">
          <h3 ><i class="mdi-content-send brown-text"></i></h3>
          <h4 class="brown-text">Get 100% Clear on Your Personal Vision</h4>
          <br \>
          <p class="left-align grey-text text-darken-2" style="font-size:1.8em">
            After you complete your 1 on 1 <span class="red-text text-darken-4">Call to Adventure</span>, it is time to  <span class="red-text text-darken-4">Meet the Mentor</span>.
            <br /><br />
            At the beginning of the most satisfying stories, the hero meets a mentor who prepares the hero to face the unknown and accept the call to adventure.
            <br /><br />
            The <span class="red-text text-darken-4">Meeting the Mentor</span> coaching call is where you will have an important opportunity to reveal your honest truth about what you want, what's holding you back, and get feedback and coaching on how to proceed.
            <br /><br />
            Your mentor will help you <span class="red-text text-darken-4">overcome resistance</span> so you can be <span class="red-text text-darken-4">armed and equipped</span> for this 21 day journey.
            <br /><br />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col l2 center"></div>
        <div class="col s12 m12 l8 center">
          <h3 ><i class="mdi-content-send brown-text"></i></h3>
          <h4 class="brown-text">Learn the Deep Power of Myth and Metaphor</h4>
          <br />
          <p class="left-align grey-text text-darken-2" style="font-size:1.8em">
            Geniuses like Carl Jung and Joseph Campbell have shown how human myths speak to us and move us deeply.
            <br /><br />
            The <span class="red-text text-darken-4">Hero's Journey</span> is one of the most potent mythic structures.
            <br /><br />
            This program will speak to your subconscious mind in ways that normal factual speech can not.
            <br /><br />
            You will learn how ancient archetypes like <span class="red-text text-darken-4">The King</span>, <span class="red-text text-darken-4">The Warrior</span> and <span class="red-text text-darken-4">The Dragon</span> can give you influence over challenging areas of your life like finances, relationships and self confidence.
            <br /><br />
            During this 21 day adventure your mentor will help you begin documenting your <span class="red-text text-darken-4">Personal Mythos</span> so you can use it over and over to succeed.
          </p>
        </div>
      </div>


<!---
From BH:
One of the core learning styles is “imagining,” and it’s something that few people allow themselves to do enough. Imagining and fantasizing are learned skills, which can also be like muscles that atrophy. If you don’t develop these muscles, you’ll lack the creativity and excitement of pursuing crazy dreams and ideals. You’ll “grow-up” as they say and settle for reality as society and the norms around you have deemed-it.

Instead of such a bleak and uninspiring existence, you want to spend a great deal of time fantasizing about your future. You want to dream big and dream creatively. You want it to be fun and playful. Set no boundaries on your ideals and what you imagine.

Dan Sullivan:
Your future should always be bigger than your past

Big picture never been bigger
So tell me when you pull the trigga

According to psychological research, the anticipation of an event is almost always more powerful than the event itself. Both positive and negative events are generally more emotionally-charged in your head than the actual experience ends up being.

Very quickly, we adapt to our new experience and the event itself is underwhelming compared to how we imagined it to be.

Because we adapt so quickly, it’s easy to take for granted where we currently are. Moreover, because our ideals and dreams are like a horizon which is constantly moving — we never reach our ideals. The horizon always moves, no matter where you are. It’s the direction, not the destination.

If your goals are not specific and measurable, then you won’t be able to measure your progress. If you can’t clearly discern the progress you’re making:

you won’t know where you actually are
you won’t experience the joy, gratitude, and confidence of growth
if you don’t enjoy the the gratitude and confidence of growth, you won’t operate as well in the future and you won’t set bigger targets to strive for

motivation involves three components:

the value you place on your goal
your belief that specific behaviors will actually facilitate the outcomesyou desire
your belief in your own ability to successfully execute the behaviors requisite to achieving your goals

As your happiness, confidence, and hope increase, your motivation will increase. This motivation comes because you expect to achieve your goals and you highly value those goals. As you become more confidence as a person, you’ll stop setting goals that society has placed on you.

Your goals will come from inside and be uninhibited by the standards and expectations of those around you. Instead, you’ll purposefully surround yourself with better mentors, teachers, and collaborators, which will allow your dreams and ideals to expand far beyond what you could conjure-up on your own. Psychologists call this “The Transforming-Self,” and it’s the highest level of conscious evolution.

You’re constantly seeing yourself improve. You’re grateful and appreciate that progress. You spend just as much time soaking-in the Gains and you do imagining and indulging in the dreams. You then use your gains and the confidence you’ve built to get back to the playful and fantasizing process of imagining new ideals!

--->

      <div class="row">
        <div class="col l2 center"></div>
        <div class="col s12 m12 l8 center">
          <h3 ><i class="mdi-content-send brown-text"></i></h3>
          <h4 class="brown-text">The Only Way to Increase Self-Confidence</h4>
          <br />
          <p class="left-align grey-text text-darken-2" style="font-size:1.8em">
            The only real way to increase self-confidence is to succeed at something.
            <br /><br />
            That may sound like a big claim, but if you haven't succeeded or finished anything, then your confidence is based on nothing.
            <br /><br />
            This is your chance to <span class="red-text text-darken-4">set a challenging goal</span> of your own choosing, join a group committed to your success, and <span class="red-text text-darken-4">follow through on what you said</span> you would do.
            <br /><br />
            When you do this, your faith in yourself will increase and you'll be ready to do it again.
            <br /><br />
            You are about to <span class="red-text text-darken-4">cross the threshold</span> and enter the realm of trials and failures, and death and rebirth.
            <br /><br />
            You will learn to let go of the parts of yourself that are no longer serving you, and to be reborn in a new, more confident form.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col l2 center"></div>
        <div class="col s12 m12 l8 center">
          <h3 ><i class="mdi-content-send brown-text"></i></h3>
          <h4 class="brown-text">Can You Change Your Life in 21 Days?</h4>
          <br />
          <p class="left-align grey-text text-darken-2" style="font-size:1.8em">
            If you are using this program to make a major change in your life, you will need to form a new habit or routine to support the change.
            <br /><br />
            There's a rumor that it only takes 21 days of repetition to form a new habit that will last forever.  Unfortunately it isn't that simple.
            <br /><br />
            You CAN make major changes in 21 days, but you have to do it right for it to stick. This program uses a model developed by Tom Bartow of Edward Jones that more accurately reflects <span class="red-text text-darken-3" style="font-weight:bold">current science on habit formation.</span>
            <br /><br />
            In truth, there are <span class="red-text text-darken-3" style="font-weight:bold">3 phases to habit formation</span>
            <br /><br />
            Phase 1 of habit formation is when you are excited, inspired and enthusiastic about making a big change. This is the easy part. In the Quest for the Master Key Program, this happens after the Call to Adventure.  You will make a strong declaration about what you want to accomplish in 21 days and where you want your life to be in 5 years. You will take action. You will have a feeling of "This is Easy".
            <br /><br />
            Phase 2 is a <span style="font-weight:bold">Series of Battles</span>. After the initial inspiration fades, the new way of being becomes more difficult. You will know <span class="red-text text-darken-3" style="font-weight:bold">what you should</span> do. You got very clear on that with your Mentor. You will know <span class="red-text text-darken-3" style="font-weight:bold">what you said</span> you would do. Yet you will feel the pressure of old habits. <span class="red-text text-darken-3" style="font-weight:bold">You will be battling your Inner Demons.</span> Luckily we named those demons, and you are armed and equipped to fight them.
            <br /><br />
            It is critical that you <span class="red-text text-darken-3" style="font-weight:bold">Win 5 Battles</span> and tell your allies about it.  You have to push through resistance and win these battles. Direct your attention where it needs to go. Ask for help. Ask yourself "How will I feel if I do the old behavior?" and "How will I feel if I do the new behavior?" This sounds simple, but it is not easy. Your allies and mentor can help you when you are struggling so you can break through resistance and emerge victorious.
            <br /><br />
            Phase 3 is when the behavior feels like second nature.  You'll have the feeling of "This is Easy" again.  You are still not totally in the clear yet. You still need to watch out for disruptions in your routine.  If you are not getting the results you want, you might think "This isn't working" and give up.  Or you may let your ego run away with you and decide that you are special and don't need to work as hard as others, so you let your routine slip. This is called the <span class="red-text text-darken-3">Seduction of Success</span>
            <br /><br />
            Having a group of men committed to your success is critical.  Being supported by other men is the best way to grow into your full potential.
          </p>
        </div>
      </div>


      <!---
      Phase 1: THE HONEYMOON

      This phase of habit formation is characterized by the feeling of “this is easy.” As all married people will tell you, at some point even the greatest honeymoon must end. The honeymoon phase is usually the result of something inspiring. For example, a person attends a highly motivational conference, and for the first few days after the conference the individual is making positive changes in his or her life.

      Phase 2: THE FIGHT THRU

      Inspiration fades and reality sets in. A person finds himself struggling with the positive habit completion and old habits seem to be right around the corner. The key to moving to the third phase of habit formation is to win 2 or 3 “fight thru’s.” This is critical. To win the fight thru, use the following techniques:

      RECOGNIZE: Recognition is essential for winning the fight thru. When you have entered the fight through, simply say to yourself, “I have entered the fight thru, and I need to win a few to move past this.” Winning each fight thru will make it easier to win the next. Conversely, when you choose to lose a fight thru, you make it easier to lose the next one.
      ASK 2 QUESTIONS: “How will I feel if I do this?” and “How will I feel if I don’t do this?” Bring EMOTION into the equation. Let yourself feel the positive in winning the fight thru and the negative in losing.
      LIFE PROJECTION: If the above 2 techniques haven’t moved you to action, then imagine in great detail how your life will be in 5 years if you do not begin making changes. Be totally honest with yourself, and allow yourself to feel what life will be like if the changes are not made.
      Phase 3: SECOND NATURE

      Entering second nature is often described by feelings of “getting in the groove.” Once in second nature, the following are 3 common interruptions that will send a person back to the fight thru:

      THE DISCOURAGEMENT MONSTER: An individual allows negative results discourage him or her into thinking, “This isn’t working, and there is nothing I can do.”
      DISRUPTIONS: An individual experiences significant change to his or her current pattern (e.g., vacations, holidays, illness, weekends).
      SEDUCTION OF SUCCESS: An individual begins to focus on positive results and begins to think, “I’m the special one. I have finally figured out how to have great results with not so great process.”
      If a person experiences an interruption that sends him or her back to the fight thru, winning 2 or 3 fight thru’s will bring him or her back to second nature.

      --->

      <div class="row">
        <div class="col l2 center"></div>
        <div class="col s12 m12 l8 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>

          <div class="card-panel" style="font-size:2em">
              <h3>Meet your Guide</h3>
              <img class="responsive-img" style="border: 3px solid #9CC1D3;" src="<%= static_path(@conn, "/images/mattdavis.jpg") %>">
              <br /><br />
              <div>You will have <span class="red-text text-darken-4">Matt Davis</span> as your <span class="red-text text-darken-4">mentor and guide</span> on your 21 day journey.</div>
              <br />
              Matt has been helping people grow and achieve their goals since 2009.
              <br /> <br />
              He is a certified Neurolinguistic Programming practitioner and a Desire Coaching Program graduate.
              <br /> <br />
              He held a Top Secret Security Clearance in the US Air Force. There, he led a fitness program for hundreds of people. He helped countless people achieve their fitness goals.  He was voted Airman of the Year two years in a row, beating out thousands of other young men and women who wanted that recognition. He knows what it takes to succeed and he knows how to help you develop your strengths.
          </div>
          <br />
        </div>
      </div>
      <div class="row hide-on-med-and-down" >
        <div class="col s2 l2 center testimonial-quote"></div>
        <div class="col s12 m12 l8 center">
          <div class="testimonial-quote group">
              <img src="<%= static_path(@conn, "/images/brave.jpg") %>">
              <div class="quote-container">
                  <div>
                      <blockquote>
                          <p>"I felt my confidence to be a great man grow through working with Matt."</p>
                      </blockquote>
                      <cite><span>Brave Legend Pietri</span><br>
                          Relationship Coach<br>
                          Alchemy of We
                      </cite>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row hide-on-med-and-down" >
        <div class="col s2 l2 center testimonial-quote"></div>
        <div class="col s12 m12 l8 center">
          <div class="testimonial-quote group right">
              <img src="<%= static_path(@conn, "/images/swedlow.jpg") %>">
              <div class="quote-container">
                  <div>
                      <blockquote>
                          <p>"But that third meeting, the coming together of being rung like a bell. It feels like a perfect arc through a hairpin turn."</p>
                      </blockquote>
                      <cite><span>David L. Swedlow</span><br>
                          Manager of Application Development<br>
                      </cite>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row hide-on-med-and-down" >
        <div class="col s2 l2 center testimonial-quote"></div>
        <div class="col s12 m12 l8 center">
          <div class="testimonial-quote group left">
              <img style="border: 3px solid #9CC1D3;width: 120px;height: 120px;" src="<%= static_path(@conn, "/images/thomas.jpeg") %>"><br />
              <div class="quote-container">
                  <div>
                      <blockquote>
                          <p>"I have worked with Matt for years. He helps people. He has a transformative presence.”</p>
                      </blockquote>

                      <cite><span>Thomas Vinson</span><br>
                        Program Manager<br>
                        Zero Waste Network
                      </cite>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row hide-on-med-and-down" >
        <div class="col s2 l2 center testimonial-quote"></div>
        <div class="col s12 m12 l8 center">
          <div class="testimonial-quote group right">
              <img style="border: 3px solid #9CC1D3;width: 120px;height: 120px;" src="<%= static_path(@conn, "/images/alex.jpg") %>"><br />
              <div class="quote-container">
                  <div>
                      <blockquote>
                          <p>"Matt helped me realize that I already had everything I needed to face my fears. Not only did I feel like a capable man, by the end of our sessions I felt like a f***ing superhero.”</p>
                      </blockquote>

                      <cite><span>Alex Miller</span><br>
                        Unemployed<br>
                        Traveling in Europe
                      </cite>
                  </div>
              </div>
          </div>
        </div>
      </div>


      <div class="card-panel  hide-on-large-only" >
        <div class="row" >
                      <blockquote>
                          <p>"I felt my confidence to be a great man grow through working with Matt."</p>
                      </blockquote>
                      <div class="col s12 center">
                      <img style="border: 3px solid #9CC1D3;width: 120px;height: 120px;" src="<%= static_path(@conn, "/images/brave.jpg") %>"><br />
                      <cite><span>Brave Legend Pietri</span><br>
                          Relationship Coach<br>
                          Alchemy of We
                      </cite>
                    </div>
        </div>
        <hr />
        <div class="row" >
                      <blockquote>
                          <p>"But that third meeting, the coming together of being rung like a bell. It feels like a perfect arc through a hairpin turn."</p>
                      </blockquote>
                      <div class="col s12 center">
                      <img style="border: 3px solid #9CC1D3;width: 120px;height: 120px;" src="<%= static_path(@conn, "/images/swedlow.jpg") %>"><br />
                      <cite><span>David L. Swedlow</span><br>
                          Project Manager<br>
                      </cite>
                    </div>
        </div>
        <hr />
        <div class="row" >
          <blockquote>
              <p>"I have worked with Matt for years. He helps people. He has a transformative presence.”</p>
          </blockquote>
          <div class="col s12 center">
            <img style="border: 3px solid #9CC1D3;width: 120px;height: 120px;" src="<%= static_path(@conn, "/images/thomas.jpeg") %>"><br />
            <cite><span>Thomas Vinson</span><br>
              Program Manager<br>
              Zero Waste Network
            </cite>
          </div>
        </div>
      </div>
      </div>




      <div class="row">
        <div class="col l2 center"></div>
        <div class="col s12 m12 l8  center">

          <div class="card-panel" style="font-size:2em">
            <div class="card-panel teal" style="font-size:2em">
              <h3 class="white-text">Quest for the Master Key</h3>
            </div>
              <img  src="<%= static_path(@conn, "/images/masterkey3.jpg") %>">
              <div>You will have <span class="red-text text-darken-4">21 days</span> to complete your quest and find your personal master key.</div>
              <br />
              <a href="<%= myth_path(@conn, :sale)%>" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Join Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="center strong white-text text-darken-4 hide-on-med-and-down">It's Time to Face Your Demons</h1><br>
          <h3 class="center strong white-text text-darken-4 hide-on-large-only">It's Time to Face Your Demons</h3><br>
        </div>
      </div>
    </div>
    <div class="parallax"><img class="responsive-img" src="images/demon.jpg" alt="Unsplashed background img 2"></div>
  </div>


  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col l2 center"></div>
        <div class="col s12 m12 l8  center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 class="brown-text">Obliterate Your Top 3 Limiting Thoughts</h4>
          <h5 class="left-align ">
            Everybody has limiting thoughts that they practice over and over.
            <br /><br />
            Often without realizing it. We name these the <span class="red-text text-darken-4">3 Demons of Fear</span>.
            <br /><br />
            Your mentor will help you notice these thoughts
            and find the core belief behind them.
            <br /><br />
            Finally face your Demons and be free from their influence forever.
          </h5>
        </div>
        <div class="col s2 center"></div>
      </div>

      <div class="row">
        <div class="col l2 center"></div>
        <div class="col s12 m12 l8 center">
          <h3 ><i class="mdi-content-send brown-text"></i></h3>
          <h4 class="brown-text">What's Included</h4>
          <br />
          <p class="left-align grey-text text-darken-2" style="font-size:1.8em">
            Enlisting in this program starts you on a 21 day ride. You'll receive:
            <br /><br />
            <div class="row">
              <div class="col l2">
                <p class="left-align grey-text text-darken-2" style="font-size:3em"><i class="material-icons">flash_on</i></p>
              </div>
              <div class="col l10">
                <p class="left-align grey-text text-darken-2" style="font-size:1.8em"><span class="red-text text-darken-3">Your Call to Adventure enrollment call </span>  - A 1 hour phone call with Matt Davis where we go deep into your personal vision, and find out what you truly deeply want out of this life.  </p>
              </div>
            </div>
            <div class="row">
              <div class="col l2">
                <p class="left-align grey-text text-darken-2" style="font-size:3em"><i class="material-icons">flash_on</i></p>
              </div>
              <div class="col l10">
                <p class="left-align grey-text text-darken-2" style="font-size:1.8em"><span class="red-text text-darken-3">Master Key Goal Setting Resources </span>  - These are hand-crafted written and audio resources that will show you how to set a rock solid goal. You will use these tools do develop your personal mythos that speak deeply to your subconscious. Learn to name and eliminate your 3 Demons of Fear.
              </div>
            </div>
            <div class="row">
              <div class="col l2">
                <p class="left-align grey-text text-darken-2" style="font-size:3em"><i class="material-icons">flash_on</i></p>
              </div>
              <div class="col l10">
                <p class="left-align grey-text text-darken-2" style="font-size:1.8em"><span class="red-text text-darken-3">The Meet the Mentor coaching circles </span>  - Each of the 3 weeks begins with a Meet the Mentor coaching circle. You and your allies (the other men taking the course) will meet the mentor together in a 90 minute video call.  Be prepared to tell your story, declare and commit to your vision and your goal for the next week, and hear advice on how to proceed. This is where you meet the men who will be challenging and supporting you through the 21 day challenge.</p>
              </div>
            </div>
            <div class="row">
              <div class="col l2">
                <p class="left-align grey-text text-darken-2" style="font-size:3em"><i class="material-icons">flash_on</i></p>
              </div>
              <div class="col l10">
                <p class="left-align grey-text text-darken-2" style="font-size:1.8em"><span class="red-text text-darken-3">Three Orientation Calls </span>  - Each week, you have the option to call your mentor and get advice. Receive encouragement, advice or hear the things that are hard to hear.  If you are procrastinating, he'll encourage you to begin. If you're failing, he'll help you learn your lessons. If you're succeeding, he'll ask you how you will celebrate and how you can do more.
              </div>
            </div>
            <div class="row">
              <div class="col l2">
                <p class="left-align grey-text text-darken-2" style="font-size:3em"><i class="material-icons">flash_on</i></p>
              </div>
              <div class="col l10">
                <p class="left-align grey-text text-darken-2" style="font-size:1.8em"><span class="red-text text-darken-3">Teamwork and Support</span>  - You can text or email your mentor at any time if you need a clue on how to proceed in your journey.
              </div>
            </div>

            <div class="row">
              <div class="col l2">
                <p class="left-align grey-text text-darken-2" style="font-size:3em"><i class="material-icons">flash_on</i></p>
              </div>
              <div class="col l10">
                <p class="left-align grey-text text-darken-2" style="font-size:1.8em"><span class="red-text text-darken-3">Closing Ceremony</span>  - At the end of  21 days, we will regroup and discuss how it went. Did you learn the location of your master key? Or is there more work to do? Were we wounded? Did we gain treasure?  How do we become stronger men from this experience? By this point your personal mythos is becoming well-documented, and you understand how this adventure fits in to your overall destiny.
              </div>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col l2 center"></div>
        <div class="col s12 m12 l8 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>


          <div class="card-panel" style="font-size:2em">
              <h3>Quest for the Master Key</h3>
              <img  src="<%= static_path(@conn, "/images/masterkey3.jpg") %>">
              <div>You will have <span class="red-text text-darken-4">21 days</span> to complete your quest and find your personal master key.</div>
              <br />
              <a href="<%= myth_path(@conn, :sale)%>" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Join Now</a>
          </div>
        </div>
        <div class="col s2 center"></div>
      </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="center strong white-text text-darken-4 hide-on-med-and-down">The Choice is yours. Your fate is in your hands.</h1><br>
          <h4 class="center strong white-text text-darken-4 hide-on-large-only">The Choice is yours. Your fate is in your hands.</h3><br>
        </div>
      </div>
    </div>
    <div class="parallax"><img class="responsive-img" src="images/background3.jpg" alt="Unsplashed background img 2"></div>
  </div>
