<!DOCTYPE html>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br />
        <h1 class="center strong white-text text-lighten-4 hide-on-med-and-down">Quest for The Master Key</h1><br>
        <h3 class="center strong white-text text-lighten-4 hide-on-large-only">Quest for The Master Key</h3><br>
        <h5 class="col s12 white-text text-lighten-3 center hide-on-large-only" style="font-weight:bold">Feel relief from doubt. Get help making firm decisions.</h5>

        <div class="row center hide-on-med-and-down">
          <h5 class="col s12 yellow-text text-lighten-4" style="font-weight:bold">Feel relief from doubt. Get help making firm decisions.</h5>
          <h5 class="col s12 yellow-text text-lighten-4" style="font-weight:bold">Alchemize your reluctance and resistance into power.</h5>
          <h5 class="col s12 yellow-text text-lighten-4" style="font-weight:bold">Get help building accountability structures so you follow through.</h5>
          <h5 class="col s12 yellow-text text-lighten-3" style="font-weight:bold">Space is limited. Next wave begins August 1</h5>
        </div>
        <br />
        <div class="row center">
          <a href="<%= myth_path(@conn, :sale)%>" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Join Now</a>
        </div>
      </div>
    </div>
    <div class="parallax"><img  class="responsive-img" src="images/purple_paper.jpg" alt="Warm Background"></div>
  </div>

  <div class="row center hide-on-large-only">
    <h5 class="col s12 purple-text text-lighten-3">Alchemize your reluctance and resistance into power.</h5>
    <h5 class="col s12 purple-text text-lighten-3">Get help building accountability structures so you follow through.</h5>
    <h5 class="col s12 purple-text text-lighten-1">Space is limited. Next wave begins August 1</h5>
  </div>

  <div class="container">
    <div class="section">
      <div class="row center">
        <h3>What could you accomplish in one month?</h3>
      </div>
      <div class="row center">
        <img class="responsive-img" src="images/herojourney.png">
      </div>
      <div class="row center">
          <h4 class="col s12 black-text text-darken-4"> <span class="red-text text-darken-4" style="font-size:1.1em">Quest for the Master Key</span></h4>
          <h4 class="col s12 black-text text-darken-4"><span class="blue-text text-darken-4" style="font-size:1.1em">One Month Goal Accelerator Program for Men<span> </h4>
          <h5 class="col s12 black-text text-darken-4">Get coaching support to set ambitious goals.</h5>
          <h5 class="col s12 black-text text-darken-4">Join a group of men who will help you see yourself more clearly.</h5>
          <h5 class="col s12 black-text text-darken-4">Find your personal <span class="red-text text-darken-4"  style="font-size:1.1em">Master Key</span> - the combination of beliefs, mindsets, behaviors, weapons and environments that <span class="red-text text-darken-4"  style="font-size:1.1em">unlock your full potential</span> in any situation</h5>
      </div>
      <div class="row center">
        <hr>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col l2 center"></div>
        <div class="col s12 m12 l8 center">
          <h3 ><i class="mdi-content-send brown-text"></i></h3>
          <h4 class="brown-text">Get 100% Clear on Your Personal Vision</h4>
          <br \>
          <p class="left-align grey-text text-darken-2" style="font-size:1.8em">
            At the beginning of the most satisfying stories, the hero meets a mentor who prepares the hero to face the unknown.
            <br /><br />
            Your Quest for the Master key begins with the <span class="red-text text-darken-4">Call to Adventure</span>.
            <br /><br />
            This is a 1 on 1 coaching call where you will have an important opportunity to reveal your honest truth about what you want, what's holding you back, and to make a plan for the month.
            <br /><br />
            Your mentor will help you <span class="red-text text-darken-4">overcome resistance</span> so you can be <span class="red-text text-darken-4">armed and equipped</span> for this one month journey.
            <br /><br />
          </p>
        </div>
      </div>
    </div>
  </div>

<!--  PARALLAX 2 ********************************************* -->
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h1 class="center strong white-text text-darken-4 hide-on-med-and-down">Your Journey Begins Here</h1><br>
          <h3 class="center strong white-text text-darken-4 hide-on-large-only">Your Journey Begins Here</h3><br>
        </div>
      </div>
    </div>
    <div class="parallax"><img  class="responsive-img"  src="images/labyrinth.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="row">
    <div class="col l2 center"></div>
    <div class="col s12 m12 l8  center">

      <div class="card-panel" style="font-size:2em">
        <div class="card-panel teal" style="font-size:2em">
          <h3 class="white-text">Quest for the Master Key</h3>
        </div>
          <img  src="<%= static_path(@conn, "/images/masterkey3.jpg") %>">
          <div>You will have <span class="red-text text-darken-4">One Month</span> to complete your quest and find your personal master key.</div>
          <br />
          <a href="<%= myth_path(@conn, :sale)%>" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Join Now</a>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col l2 center"></div>
    <div class="col s12 m12 l8 center">
      <h3 ><i class="mdi-content-send brown-text"></i></h3>
      <h4 class="brown-text">What's Included</h4>
      <br />
      <p class="left-align grey-text text-darken-2" style="font-size:1.8em">
        Enlisting in this program starts you on a one month ride. You'll receive:
        <br /><br />
        <div class="row">
          <div class="col l2">
            <p class="left-align grey-text text-darken-2" style="font-size:3em"><i class="material-icons">flash_on</i></p>
          </div>
          <div class="col l10">
            <p class="left-align grey-text text-darken-2" style="font-size:1.8em"><span class="red-text text-darken-3">Your Call to Adventure enrollment call </span>  - A 1 hour phone call with Matt Davis where we go deep into your personal vision, and find out what you truly deeply want out of this life.  </p>
          </div>
        </div>
        <div class="row">
          <div class="col l2">
            <p class="left-align grey-text text-darken-2" style="font-size:3em"><i class="material-icons">flash_on</i></p>
          </div>
          <div class="col l10">
            <p class="left-align grey-text text-darken-2" style="font-size:1.8em"><span class="red-text text-darken-3">Master Key Goal Setting Resources </span>  - These are written and audio resources that will show you how to set a rock solid goal. You will receive tools to help you develop your personal mythos that speaks deeply to your subconscious.
          </div>
        </div>
        <div class="row">
          <div class="col l2">
            <p class="left-align grey-text text-darken-2" style="font-size:3em"><i class="material-icons">flash_on</i></p>
          </div>
          <div class="col l10">
            <p class="left-align grey-text text-darken-2" style="font-size:1.8em"><span class="red-text text-darken-3">Three Orientation Calls </span>  - During these calls you and your mentor will make a plan for your week that leads you closer to your goal.
          </div>
        </div>
        <div class="row">
          <div class="col l2">
            <p class="left-align grey-text text-darken-2" style="font-size:3em"><i class="material-icons">flash_on</i></p>
          </div>
          <div class="col l10">
            <p class="left-align grey-text text-darken-2" style="font-size:1.8em"><span class="red-text text-darken-3">Three Coaching and Accountability circles</span>  - At the end of each week, we come together for an accountability and coaching circle. You and your allies will meet in a 90 minute video call.  You will tell your story for the week, both victories and defeat. Declare and commit to your vision and goals for the next week. </p>
          </div>
        </div>
        <div class="row">
          <div class="col l2">
            <p class="left-align grey-text text-darken-2" style="font-size:3em"><i class="material-icons">flash_on</i></p>
          </div>
          <div class="col l10">
            <p class="left-align grey-text text-darken-2" style="font-size:1.8em"><span class="red-text text-darken-3">Teamwork and Support</span>  - You can text or email your mentor at any time if you need a clue on how to proceed in your journey.
          </div>
        </div>

        <div class="row">
          <div class="col l2">
            <p class="left-align grey-text text-darken-2" style="font-size:3em"><i class="material-icons">flash_on</i></p>
          </div>
          <div class="col l10">
            <p class="left-align grey-text text-darken-2" style="font-size:1.8em"><span class="red-text text-darken-3">Closing Ceremony</span>  - At the end of one month, we will regroup and CELEBRATE LIKE KINGS. Did you find your Master Key? Or is there more work to do? Were you wounded? Did you gain treasure?  How do we become stronger men from this experience? How does this fit into your Personal Mythos and Destiny?
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col l2 center"></div>
      <div class="col s12 m12 l8 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>


        <div class="card-panel" style="font-size:2em">
            <h3>Quest for the Master Key</h3>
            <img  src="<%= static_path(@conn, "/images/masterkey3.jpg") %>">
            <div>You will have <span class="red-text text-darken-4">one month</span> to complete your quest and find your personal master key.</div>
            <br />
            <a href="<%= myth_path(@conn, :sale)%>" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Join Now</a>
        </div>
      </div>
      <div class="col s2 center"></div>
    </div>
